.container{
    position: relative;
    border: 2px solid white;
    border-radius: 1rem;

    background-color: var(--secondary);
    width: 100%;
    height: 100svh;

    .top{
        padding:   2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width:700px) {
        }

        .back_link{
            color: unset;
            display: block;
            svg{
                width: 25px;
                height: 25px;
            }
        }
        
        .logout_btn_container{
            color: var(--danger);
            display: none;
            @media (max-width:1000px) {
                display: block;
            }
            svg{
                width: 25px;
                height: 25px;
            }
        }
    
    }

}

.inner_container{
    max-width: 900px;
    margin: 0 auto;
    @media (max-width:700px) {
        width: 100%;
    }
}

.header{
    margin: 0 4rem;
    padding-top: 1.5em;
    padding-bottom: 3em;
    border-bottom: 1px solid rgb(142, 142, 142);
    display: flex;
    align-items:   center;
    gap: 1rem;
    @media (max-width:700px) {
        margin: 0 2rem;
    }
    .picture{
        position: relative;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        transition: padding 200ms ease;
        &::after{
            content: 'EDIT';
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            position: absolute;
            border-radius: 50%;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }
        &:hover{
            padding: .2em;
            border: 1px solid white;
        }
        
        img{
            object-fit: cover;
            border-radius: 100%;
            width: 100%;
            height: 100%;
        }
      
    }

    .displayname_username{
        .displayname{
            font-weight: 500;
        }

        .username{
            margin-top: .2rem;
            font-size: .8rem;
            font-weight: 200;
        }
    }
}


.settings_container{
    margin: 0 4rem;
    @media (max-width:700px) {
        margin: 0 2rem;
    }

    
    .setting{
        position: relative;
        margin-top: 2rem ;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width:700px) {
            width: 100%;
            gap: 1rem;
        }
    
        div{
            @media (max-width:700px) {
                min-width:  200px;
            }            
            h2{
                font-weight: 500;
                font-size: 1rem;
            }

            p{
                margin-top: .4rem;
                font-size: .8rem;
                font-weight: 200;
            }
            
        }

        button{
            width: fit-content;
            text-align: center;
            padding: .5em 1.5em;
            border-radius: .2rem;
            background-color: rgba(0, 0, 0, 0.548);
        }

    }
}