.sections_activeconversation{
    display: grid;
    grid-template-columns: 1fr 4fr;
    @media (max-width:700px) {
        grid-template-columns: 1fr;
    }

    .email_verification{
        grid-column: 1 / span 2;
    }
}