

.container{
    /* border: 2px solid white;
    border-radius: 1rem;
   */
    /* background-image: linear-gradient(   rgb(2, 4, 81),rgb(26, 0, 42)  ); */
    height: 100%;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    background-color: var(--navbar);
    padding:  .5em .2em;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width:1000px) {
        right: 0;
        bottom: 0;
        height: 10%;
        width: 100%;
        z-index: 2;
        position: fixed;
        padding-inline: 1em;
        flex-direction: row-reverse;
        
        gap: .5rem;
    }
}





.inner_container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 150px  50px 50px 50px;
    flex-direction: column;
    

    @media (max-width:1000px) {
        height:fit-content;
        width: 100%;
        padding-top: 0;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4 , 1fr);
    }



    .user_link_container{
        display: flex;
        justify-content: center;
        @media (max-width:1000px) {
            order: 1;
        }
        
        .user_link{
            width: 50px;
            height: 50px;
            display: block;
            border-radius: 50%;
            border: 1px solid var(--accent);
            cursor: pointer;

            padding: .2em;
            transition: padding 200ms ease;
            &:hover{
                padding: .1em;
            }
            @media (max-width:1000px) {
                height: 35px;
                width: 35px;
            } 
        
            img{
                border-radius: 50%;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;    
            }    
        }    
    }
    

    .section_link{
        justify-self: flex-start;
        align-self: center;

        color: inherit;
        text-decoration: unset;
        font-size: .7rem;
        font-weight: 400;
        display: flex;
        flex-direction: row;
        gap: .5rem;
        align-items: center;
        justify-content: center;
        row-gap: .5rem;
        padding: .4em .9em;
        width: fit-content;
        height: fit-content;
        border-radius: 1rem;
        svg{
            width: 20px;
            height: 20px;
        }
    
        p{
        
        }

        @media (max-width:1000px) {
            padding: .4rem;
            svg{
                width: 20px;
                height: 20px;
            }

            p{
                display: none;
            }
        }

        &:hover {
            color:  var(--accent);
            
        }
    }  

    .active{
        color: var(--accent);
        /* border-right: 1px solid var(--accent); */
        background-color: rgba(0, 208, 255, 0.221);
        @media (max-width:1000px) {
            border: 0;
        }
    }

    .friends{
        
    }
    .conversations{

    }

    .groups{
        
    }
    
}


.logout{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-top: 1px solid grey; */
    &:hover{
        opacity: .7;
    }

    @media (max-width:1000px) {
        display: none;
    }


    button{
        svg{
            height: 25px;
            width: 25px;
            color: var(--danger);
        }
    
    }

    p{
        font-size: .6rem;
        color: var(--danger);
    }
}

