.container{
    position: fixed;
    width: 100svw;
    height: 100%;
    z-index: 20;
    left: 0;
    top: 0;

    background-color: var(--primary);
    display: grid;
    grid-template-columns: 1fr ;
    align-items: center;
    gap: 1rem;
   @media (max-width:1000px) {
        grid-template-columns: 1fr;
   }
    
    .call_ended_msg{
        text-align: center;
    }
    

    .user_container{
        height: 200px;
        max-width: 150px;
        position: absolute;
        bottom: 5rem;
        right: 2rem;

    
        .video_player{
            /* transform: rotateY(180deg); */
            height: 100%;
            width: 100%;
        }
    }

    .participants_container{        
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3 , minmax(0,1fr)) ;
        height: 100%;
           
        .participant:only-child{
            grid-area: 1/span 3;
        }

        .participant{
            position: relative;
            .video_container{
                width: 100%;
                height: 100%;
                .video_player{
                    object-fit: cover;
                    /* transform: rotateY(180deg); */
                    width: 100%;
                    height: 100%;
                }
    
            }
    
            .name{
                padding: .2em .5em;
                background-color: rgba(0, 0, 0, 0.23);
                z-index: 20;
                margin: .5rem;
                position: absolute;
            }
        }
    
    }


    .controls_container {
        position: absolute;
        display: flex;
        justify-content: center;
        gap: 1rem;
        width: 100%;
        height: fit-content;
        bottom: 2rem;
        /* @media (max-width:1000px) {
            margin-left: auto;   
        }*/
        button{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            padding: .9em;
            background-color: var(--danger);
            svg{
                width: 100%;
                height: 100%;
            }
        }

        .endcall_btn{
            background-color: var(--danger);
        }
    
        .btn{
            color: black;
            background-color: white;
        }

    }
}


@keyframes pulse {
    0%{
        transform:  scale(1);
        box-shadow: 0 0 0 10px rgba(24, 90, 90, .7);
    }
    75%{
        transform:  scale(.95);
        box-shadow: 0 0 0 20px rgba(24, 90, 90, 0);
    }
    100%{
        transform:  scale(1);
        box-shadow: 0 0 0 25px rgba(24, 90, 90, 0);
    }
}
