

.inner_container{
    border-radius: .2rem;
    padding: 2em;
    width: 450px;
    background-color: var(--secondary);
    @media(max-width:700px) {
        width: 100%;
        height: 100svh;
    }

    .close{
        display: block;
        margin-left: auto;
        svg{
            color: grey;
            width: 25px;
            height: 25px;
        }
    }

    form{
        width: 100%;
        margin-top: 2rem;
        
        input{
            color: white;
            height: 40px;
            width: 100%;
            border-radius: .2rem;
            display: block;
            padding: .5em 1em ;
            border:  none;
            background-color: var(--primary-dark);
        }

        .message{
            margin-top: .4rem;
            font-size: .9rem;
            font-weight: 400;
            .error{
                color: var(--danger);
            }
            .success{
                color: var(--success);
            }
        }

        button{
            margin-top: 1.5rem;
            border-radius: .2rem;
            padding: .5em 1em;
            background-color: var(--accent);
            transition: background 200ms ease;
            &:hover{
                background-color: white;
                color: var(--accent);
            }
            &:disabled{
                background-color: grey;
            }
        }
    }
}