.container{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.378);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner_container{
    min-width: 500px;
    position: relative;
    border-radius: .5rem;
    background-color: var(--secondary);

    
    .errors{
        font-size: .9rem;
        font-weight: 400;
        opacity: .7;
        padding:  0 1em;
        color: var(--danger);
        p{
            margin-top: .2rem;
        }
    }

    .footer{
        padding: 1em;
        margin-top: 2rem;
        background-color: var(--primary);
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    
        .cancel{
    
        }
    
        .confirm{
            background-color: var(--accent);
            padding: 1em;
            border-radius: .2rem;
        }
    }
}