.container{
    /* border: 2px solid white;
    border-radius: 1rem; */

    /* background-color: var(--secondary); */
    /* width: 299px; */
    animation: fadeIn .7s ease forwards;
    position: relative;
    width: 300px;
    height: 100%;

    @media (max-width:1000px) {
        width: auto;
        height: 100svh;
    }
}


@keyframes fadeIn {
    0%{
        opacity: .2;
    }
    100%{
        transform: 1;
    }
}