
.friend{
    position: relative;
    display: flex;
    gap: .5rem;
    align-items: center;
    .picture{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: relative;
        img{
            border-radius: 50%;
            width: 100%;
            height: 100%;
        }
        &::after{
            content: '';
            position: absolute;
            width: 9px;
            height: 9px;
            border-radius: 50%;
            background-color: var(--success);
            right: 0;
            bottom: 0;
            border: 2px solid var(--secondary);
        }
    }

    .name{
        flex-grow: 1;
        font-weight: 400;
        font-size: 1.2rem;
    }

    
    .accept_ignore{
        display: flex;
        gap: .5rem;
        button{
            border-radius: .2rem;
            padding: .5em  .5em;
            transition: opacity 200ms ease;
            &:hover{
                opacity: .7;
            }
        }
        .accept_btn{
            background-color: var(--success);
        }
        .ignore_btn{
            background-color: var(--primary-dark);
        }
    }    
    
    .cancel_btn{
        border-radius: 50%;
        display: grid;
        place-items: center;
        padding: .4em;
        transition: background 200ms ease;
        &:hover{
            background-color: var(--primary-dark);
        }
        svg{
            width: 20px;
            height: 20px;
        }
    }
}