.container{
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 500px;
        height: 500px;
        @media (max-width:700px) {
            width: 100%;
            height: auto;
        }
    }
}